<ion-app>
  <ion-header>
    <ion-toolbar style="padding: 0">
      <expandable-header [scrollArea]="mycontent" headerHeight="200" [mainTitle]="mainTitle" [subTitle]="subTitle"
        [backgroundImage]="backgroundImage" class="primary bg-image">
        <div [ngClass]="shrinkToolbar?'':'image-background'" #backgroundImage></div>
        <div fxLayout="row" fxLayoutAlign="start" height="100%" width="100%">
          <ion-button size="small" fill="clear" style="margin: 0;margin-top: 10px;">
            <mat-icon class="menu-icon">menu</mat-icon>
          </ion-button>
          <div style="display: flex;align-items: center;">
            <span style="padding-left: 25px; color: #fff;font-weight: bold;">
              <h4 class="mat-title" #mainTitle>President</h4>
              <div class="mat-body" #subTitle>
                Commander in Chief
              </div>
              <div class="mat-body">Leader of the Free World
              </div>
            </span>
          </div>

        </div>
      </expandable-header>
    </ion-toolbar>
  </ion-header>
  <ion-content #mycontent [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <mat-list style="margin-top:200px;" class="data-list">
      <mat-list-item *ngFor="let item of list;">
        <mat-icon mat-list-avatar>person</mat-icon>
        <div mat-line class="mat-small" [ngStyle]="{color: Colors.black[900]}">{{item.president}}</div>
        <div mat-line [ngStyle]="{color: Colors.gray[800]}">{{item.party}}</div>
        <div mat-line [ngStyle]="{color: Colors.gray[800]}">{{item.took_office}}</div>
      </mat-list-item>
    </mat-list>
  </ion-content>
</ion-app>