h4.mat-title {
    font-size: 30px;
    text-align: left;
    margin-bottom: 0;
}

.mat-list-base .mat-list-item .mat-list-avatar {
    text-align: center;
    padding-top: 10px;
    color: #968e8e;
}

.data-list {
    padding-top: calc(30px + 15px);
    padding-top: calc(constant(safe-area-inset-top) + 15px);
    padding-top: calc(env(safe-area-inset-top) + 15px);
}

.menu-icon {
    padding: 10px 0 0 20px;
    box-sizing: content-box;
}